Testbed-14: operationResponse extension relation type

**OGC 18-045 OGC Testbed-14: Next Generation Web APIs - WFS 3.0 Engineering Report** has this "The rel "http://www.opengis.net/def/rel/ogc/1.0/operationResponse" is an extension relation type (see RFC 5988, Section 4.2) and shall, in due course, be defined with OGC Naming Authority."

We should follow up with @pvretano and  the WFS/FES SWG about what relation types they would like registered.

Related to https://github.com/opengeospatial/NamingAuthority/issues/20

@pvretano 

This issue appears to have been overtaken by events. I propose to close it.